{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        'css/bootstrap.css'
        '@LinkPubGuiBundle/Resources/public/css/style.less'
    %}
    <link href="{{ asset_url }}" media="all" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div class="container">
    {% block  header %}
        <header>
            sdf
        </header>

        {% set mainMenu = knp_menu_get('LinkPubGuiBundle:MenuBuilder:mainMenu', [], {'class': 'nav nav-tabs'}) %}
        {{ knp_menu_render(mainMenu) }}

    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
</div>
{% endblock body %}
