@panel-color1: #e0e6ff;
@active-tab-color: #adbcfd;
@tab-border-color: #667ebb;
@hover-tab-color: #f9f7df;
@text-green: #68ba40;
@text-red: #d62224;

header {
  height: 30px;
  background: @panel-color1;
}

.client-menu {
  margin-top: 20px;
  li a {
    background: @panel-color1;
    border: 1px solid @tab-border-color;
  }
  li.active a {
    background: @active-tab-color;
    border: 1px solid #667ebb;
    &:hover {
      background: @active-tab-color;
      border: 1px solid #667ebb;
    }
  }
  li a:hover {
    background: @hover-tab-color;
    border: 1px solid #667ebb;
  }
}

.margin-top {
  margin-top: 50px;
}

.text-green {
  color: @text-green
}

.text-red {
  color: @text-red
}

.site-add-form {
  width: 500px;
  margin: 0 auto;
}