parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    node:              /usr/bin/node
    node_modules:      /usr/lib/node_modules

    facebook_app_id:   428625093906622
    facebook_app_secret:   4ee26d33df281e8bcd7e0b38c8adcabe

    vkontakte_app_id:  4234082
    vkontakte_app_secret:  LUXi1Z3Cy4E2NnuTVlma


