{% extends '::base.html.twig' %}
{% block body %}
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Sign in with vkontakte">Sign in with vkontakte</a>
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">Sign in with Facebook</a>
{% endblock body %}