{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        'css/bootstrap.css'
        '@LinkPubGuiBundle/Resources/public/css/style.less'
    %}
    <link href="{{ asset_url }}" media="all" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div class="container">
    {% block  header %}
        <header>
            sdf
        </header>
    {% endblock header %}

    {% block content %}
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Sign in with vkontakte">Sign in with vkontakte</a>
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">Sign in with Facebook</a>
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
</div>
{% endblock body %}
