{% extends 'LinkPubGuiBundle::layout.html.twig' %}
{% block content %}
    {% for site in sites %}
<table class="table table-striped">
    <tr>
        <td>
            {{ site.title }}
        </td>
    </tr>
</table>
    {% endfor %}
    <h4> {{ pagerfanta(pagerfanta) }}</h4>
{% endblock content %}
